.header-main{
    margin-top:10px;
    transition: all 2s;
}
@media only screen and (min-width:700 px){
    .header-main{
        margin-top: 100px;
        transition: all 2s;
    }
}
.intro {
	background-image: url("../images/thirdbackground-image.jpg");
    background-size: cover;
    /* background-position: center; */
}
/*header for pc*/
.header-main-top{
    padding-top: 146px;
}
@media only screen and (min-width:700 px) {
    .header-main-top{
        padding-top: 210px;
        transition: all 2s;
    }
}
/* stiluri pentru pagina Contacte */
/* proprietati pentru pagina contacte */
/* copiate */
.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  
  /* adaugate */
  .md-form i {
      background: #e1e1e1;
      padding: 10px;
      border-radius: 4px;
  }
  .ic i {
      background: #e1e1e1;
      padding: 15px;
      border-radius: 100%;
  }
